.container{
    height: 190vh;
   
    display: grid;
    grid-template-rows: 65vh 5vh 70vh 50vh;
    margin: 0 auto;
    padding: 0;
}

.cards > div > picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
}

img {
    display: block; 
    max-width: 100%;
    box-shadow: inset 1px 1px 3px #9b9898;
  }

.img-description {
    display: grid;
    background-color: white;
    color: black;
    max-width: 100%;
    height: 35vh;
    align-self: center;
}

.header-icons{
    justify-self: flex-end;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.header {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
    background-color: rgb(32, 104, 153);
    color: white;
    border: none;
}
.cards > .card1 > picture {
    text-align: center;
    background-color: rgb(211, 8, 8);
}
.cards > .card2 > picture {
    text-align: center;
    background-color: rgb(0, 89, 255);
}
.cards > .card3 > picture {
    text-align: center;
    background-color: rgb(10, 184, 10)
}
.cards > .card4 > picture {
    text-align: center;
    background-color: yellow
}
.cards > .card5 > picture {
    text-align: center;
    background-color: purple
}
.cards > .card6 > picture {
    text-align: center;
    background-color: pink
}
.cards > div {
    display: grid;
    grid-template-rows: 1fr 100px;
    border: 1px solid #9b9898;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(5%, 1fr));
    gap: 15px;
    padding: 10px;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.card-footer > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2%, 1fr));
    grid-template-rows: none;
}

 h2, h3 {
   height: 20px;
   margin: auto;
}

h2{
    display: flex;
    justify-self: start;
}

svg, i{
    width: 1.5rem;
    grid-column: 2/3;
    grid-row: 1/2;
    color: black;
}
svg{
    justify-self: flex-end;
}
i{
    justify-self: center;
    align-self: center;
}
.footer{
    background-color: rgb(32, 104, 153);
    color: white;
    border: none;
    display: grid;
    grid-template-columns: 40vw 40vw;
}
.footer > picture {
    grid-column: 2/3;
}
.footer > div {
    grid-column: 1/2;
    grid-row: 1/2;
}
@media only screen and (max-width: 768px) {
    div{
        width: 100%;
    }
    h3{
        font-size: small;
    }
    .card-footer > div {
        display: grid;
        grid-template-columns: 1fr 60px;
        grid-template-rows: none;
    }
    .card-footer > p {
      font-size: smaller;
    }
    .cards > div > picture > h1 {
        font-size: large;
    }
}
@media only screen and (max-width: 528px) {
    h3{
        font-size: x-small;
        justify-self: center;
    }
}

@media (max-width: 480px) {
    div{
        width: 100%;
    }
    .cards{
        display: grid; 
        grid-template-rows: repeat(auto-fit, minmax(1vh));
        grid-template-columns: none;
        gap: 15px;
        padding: 10px;
        align-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .container{
        height: 370vh;
        display: grid;
        grid-template-rows: 110vh 5vh 200vh 55vh;
    }
    .header {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: none;
    }
    picture{
        grid-row: 1/2;
    }
    .img-description{
        
        grid-row: 2/3;
    }
    p{
        font-size: large;
    }
    h3, h1{
        font-size: larger;
    }
    .footer{
        background-color: rgb(32, 104, 153);
        color: white;
        border: none;
        display: grid;
        grid-template-rows: 30vh 25vh;
        grid-template-columns: none;
    }
    .footer > picture {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .footer > div {
        grid-row: 1/2;
        
    }
}

@media (max-height: 490px) {
 
}