.container{
    height: 180vh;
    display: grid;
    grid-template-rows: 40vh 15vh 70vh 55vh;
}

* {
    box-sizing: border-box;
}

div{
    border: 1px solid black;
 
}
img {
    display: block; 
    max-width: 100%;
  }

.img-description {
    display: grid;
}

.header-icons{
    justify-self: flex-end;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.header {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(5%, 1fr));
    gap: 15px;
    padding: 10px;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.card-footer > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2%, 1fr));
    grid-template-rows: none;
}

 h2, h3 {
   height: 20px;
   margin: auto;
}

h2{
    display: flex;
    justify-self: start;
}

svg, i{
    width: 1.5rem;
    grid-column: 2/3;
    grid-row: 1/2;
}
svg{
    justify-self: flex-end;
}
i{
    justify-self: center;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    div{
        width: 100%;
    }
}

@media (max-width: 480px) {
    div{
        width: 100%;
    }
    .cards{
        display: grid; 
        grid-template-rows: repeat(auto-fit, minmax(1vh));
        grid-template-columns: none;
        gap: 15px;
        padding: 10px;
        align-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .container{
        height: 370vh;
        display: grid;
        grid-template-rows: 110vh 5vh 200vh 55vh;
    }
    .header {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: none;
    }
    picture{
        grid-row: 1/2;
    }
    .img-description{
        
        grid-row: 2/3;
    }
    *{
        font-size: small;
    }
}